{
  "plugins": [
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "not dead", "not ie < 11"]
        }
      }
    ]
  ]
}
