{
  "env": {
    "browser": true
  },
  "extends": ["@highpoint", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-restricted-globals": "off"
  }
}
